:root{
    --bg-body: #000000;
    --txt-body: #f0f0f0;
    --family-body: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --header-height:60px;
}
html{
    font-size: 62.5%;
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
}
*, *::before, 
*::after{
    box-sizing: inherit;
    
}
body{
    background-color: var(--bg-body);
    color: var(--txt-body);
    font-size: 1.6rem;
    margin: 0;
    
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    color:#f0f0f0

}
/*clases reutilizables*/

.container{
  max-width: 1024px; 
  margin: 0 auto;
  padding: 0 20px;
}

.main {
    margin-top: var(--header-height);
  }
  
  .section {
    padding: 50px 0 30px;
  }
  
  .section-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
  }
/*Navbar*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 5;
    background-color: #01070afa;
}


.nav{
    height: inherit;
    display: flex;
    justify-content:center;
    align-items: center;
}


.btn-close{
    display: none;
}

.lista{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}
/* de 0 a 768px */
@media (max-width: 768px){
.nav-menu{
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 80%;
    height: calc(100vh - var(--header-height));
    padding: 60px 20px 40px;
    background-color: #03131e;
    transition: left .5s ease-in-out;
}
.show-menu {
    left: 0;
  }

.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    display: block;
  }

.lista {
    flex-direction: column;
  }

}

.lista-link{
  font-size: 18px;
  font-weight: 600;
  transition: color .3s;
}

.lista-link:hover{
    color: tomato;
}

.action {
    display: flex;
    align-items: center;
    
}

button.btn-menu {
    font-size: 28px;
  }
  
@media (min-width: 768px) {
 .btn-menu {
      display: none;
}
}
/*Hero Inicio*/
.hero {
    background: linear-gradient(to top, rgba(30,35,38,.8),rgba(30,35,38,1)), url(/assest/img/fondo_hero.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - var(--header-height));
    color: #fff;
    display: flex;
    align-items: center;
    
  }
  
  .container-hero {
    
    padding: 20px;
    background-color: #1e23268f;
    max-width: 300px;
    margin:auto;
    text-align: center;
    border-radius: 40px;
  }

  .hero-img{
    margin-top: 40px;
    display: block;
    width: 80%;
    margin: auto;
  
  }
  .hero-title {
    margin-top: 5px;
    font-size: 30px;
    line-height: 1;
  }
  .hero-description {
    margin-top: 5px;
    font-size: 15px;
  }
  .redes .item-redes{
    color: #fff;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 15px;
    transition: .3s;
  }
  .redes .item-redes:hover{
    background-color: cyan;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .about-info p{
    font: 16px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .about-info p span{
    color: cyan;
    font-weight: bold;
  }
  /*.about-info .fila{
    display: flex;
}*/
.about-info .fila .col
{
    width: 50%;
}
.about-info .fila .col h3{
    font-size: 16px;
    
    margin-bottom: 25px;
}

.contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
   transition: .3s;
}
.contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.interes i{
    font-size: 20px;
    margin-bottom: 10px;
}
.about-info button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.container button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.container button:hover .overlay{
  width: 100%;
}

/* Skills */
.skills-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skills-tech {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.skill {
  background-color: var(--bg-alt);
  border-radius: 10px;
  padding: 1.5em 1em;
  text-align: center;
}

.skill img {
  width: 50px;
  height: auto;
}

.skill h3 {
  font-size: 17px;
  margin: 0;
  margin-top: 10px;
}

.skills-soft {
  background-color: var(--bg-alt);
  border-radius: 10px;
  padding: 1.5em 1em;
  list-style: none;
  margin: 0;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.skill-item svg {
  width: 25px;
  height: auto;
  color: tomato;
}